<html>
<head>
    <title>Shoe Stores</title>
</head>
<body>
    <h1>Welcome to your Shoe Store list</h1>

    {% if stores is not empty %}
        <p>Store List</p>
        <ul>
            {% for store in stores %}
                <li><a href="/stores/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                {% endfor %}
        </ul>
    {% endif %}

    <p>Add a new store:</p>
    <form action='/stores' method='post'>
        <label for='name'>Name of store:</label>
        <input id = 'name' name='name' type='text'>

        <button type='submit'>Add store</button>
    </form>

    <form action = "/stores" method = "post">
        <input type = "hidden" name = "_method" value = "delete">
        <button type = "submit">Delete all Stores</button>
    </form>

    <a href="/brands">Click here to search by brands</a>

</body>
</html>
