<html>
<head>
    <title>Shoe Stores</title>
</head>
<body>
    <h1>Welcome to {{ store.getStoreName }}</h1>

    {% if brands is not empty %}
        <p>Brand list</p>
        <ul>
            {% for brand in brands %}
                <li><a href="/brand/{{ brand.getId }}">{{ brand.getBrandName }}</a></li>
                {% endfor %}
        </ul>
    {% endif %}

    <p>Add a brand for this store:</p>
    <form action='/stores/{{ store.getId }}/add_brand' method='post'>

        <label for="brand_name">Brand name</label>
        <input id='brand_name' name='brand_name' type='text'>



        <button type='submit'>Add brand</button>
    </form>






</body>
</html>
